input {
  outline: none;
  padding-left: 5px;
}

.cell {
  border-bottom: 1px solid #ebedf0
}

.van-cell__value {
  min-width: 70%;
}

.van-cell__value > span {
  color: #646566;
}

.container {
  width: 10rem;
  background-color: #f7f8fa;
  border-radius: 5px;
}

.inventory-remarks > div, .tabChange > div {
  border-bottom: 1px solid #ddd;
  height: 1.2rem;
}

.tabChange {
  display: flex;
  align-items: center;
}

.tabChange > span {
  font-size: 14px;
  margin-right: 20px;
}

.tabChange > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0px 0;
  cursor: pointer;
  font-size: 14px;
}

.tabChange > div > p {
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 0.3rem;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.tabChange > div > p > span {
  display: inline-block;
  width: 60%;
  height: 60%;
  border-radius: 0.2rem;

}

.selected {
  background: #000;
}

.drop-down {
  width: 7rem;
  height: 180px;
  overflow: auto;
  position: absolute;
  top: 45px;
  left: 85px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.drop-down > p {
  margin: 5px 0;
  padding: 0px 5px 5px 5px;
  font-size: 12px;
  /* width:100%; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.public-r {
  display: flex;
  align-items: center;
  height: 50px;
}

.public-r input {
  width: 7rem;
  height: 70%;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  border: 0;
}

.public-r > span:first-child {
  /* display: inline-block; */
  width: 56px;
  /* height: 15px; */
  font-size: 14px;
  color: #333333;
  text-align: right;
  margin-right: 20px;
}

.contents-title {
  background-color: #fff;
  padding: 0px 10px;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.contents-title li {
  width: 18%;
  line-height: 44px;
  color: #333;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.contents-content {
  background-color: #fff;
  padding: 0px 10px;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.contents-content li {
  width: 18%;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #333;
}

.disabledClass {
  background: #ddd !important;
}

.page-part p {
  height: 30px;
  line-height: 30px;
  background-color: #f2f2f2;
  padding: 0px 10px;
  color: #666666;
  font-size: 14px;
}

[v-cloak]{
  display: none;
}

