.title {
  border-bottom: 1px solid #ddd;
}

.title > h1 {
  text-align: center;
  font-size: 0.48rem;
  padding: 0.32rem 0;
}

.content > p:first-child {
  width: 2.2rem;
  height: 2.2rem;
  margin: 1.2rem auto 0.48rem;
  background: url("../images/success.jpg") no-repeat center;
  background-size: 100% 100%;
}

.content > h2, .content > p {
  text-align: center;
}

.content > h2 {
  font-size: 0.53rem;
  padding: 0.12rem 0 0.32rem 0;
}

.content > p:last-child {
  font-size: 0.37rem;
  color: #888888;
}
